body {
    margin:0px;
}

#header {
    background:#325232;
    color:white;
    font:arial;
    font-size:16px;
    padding:16px;
}

#header > #name {
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block;
}

#menu a,#menubutton a {
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

.clear {
    clear:both;
}

#container {
    margin:20px 20px 20px 20px;
}

#area {
    width:100%;
    height:100%;
    font:lem arial;
    color:rgba(50,82,50,1.0);
}

#area:focus {
    color:rgba(50,82,50,1.0);
    border:2px solid #96c56f;
    box-shadow:0px 1px 1px #888888;
}

.footer {
    width:100%;
    background-color:#325232;
    height:32px;
    position:fixed;
    bottom:0px;
}

.footer > p {
    margin:8px;
    color:white;
    font:14px arial;
    text-align:center;
}

@media only screen and (min-width:600px){
    #menu {
        float:right;
    }

    .menuitem {
        display:inline;
    }

    .menuitem + .menuitem {
        border-left:1px solid white;
        margin-left:8px;
        padding-left:8px;
    }

    #menubutton {
        display:none;
    }
}

@media only screen and (max-width:599px){
    #menubutton{
        display:inline;
        float:right;
    }

    #menu {
        position:absolute;
        top:48px;
        right:0px;
        background:#325232;
        padding:16px;
    }

    .shownmenu {
        display:block;
    }

    .hiddenmenu {
        display:none;
    }

    .menuitem{
        display:block;
    }

    .menuitem + .menuitem {
        margin-top:8px;
    }

}

#controls {
    margin-left:10px;
}

a.button{
    width:15%;
    display:inline-block;
    background:-webkit-linear-gradient(top,#a9db80,#96c56f);
    background: -moz-linear-gradient(top, #a9db80, #96c56f);
    background: -ms-linear-gradient(top, #a9db80, #96c56f);
    background: -o-linear-gradient(top, #a9db80, #96c56f);
    background: linear-gradient(to bottom, #a9db80, #96c56f);
    border-radius:8px;
    border: 1px solid #444444;
    box-shadow: 0px 1px 1px #888888 inset, 1px 1px 3px #222222;
    color: #6d954e;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px 16px 32px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    font-family: arial;
}

a.button:hover {
    background: rgba(120,160,120,1);
    color:white;
}

a.button:active {
    background: rgba(80,120,80,1);
}














